:root {
  /* 버튼 색 수정 */
  --fc-button-text-color: #69140e;
  --fc-button-bg-color: #e4e0d5;
  --fc-button-border-color: #beb9ae;
  --fc-button-hover-bg-color: #d0ccc1;
  --fc-button-active-bg-color: #d0ccc1;
}

/* 일이 왼쪽에 위치 */
.fc .fc-daygrid-day-top {
  flex-direction: row;
}

/* < 날짜 > 로 정렬 */
.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

/* 날짜 배경색은 한지색 */
.fc-daygrid-day-frame {
  background-color: #e4e0d5;
}

/* 모든 테이블 테두리 제거 */
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}

/* 날짜 타일 모양 */
.fc .fc-daygrid-day {
  padding: 4px;
}

.fc .fc-daygrid-day-frame {
  border-radius: 8px;
}

.fc .fc-daygrid-day-top {
  padding-top: 4px;
  padding-left: 8px;
}
