/* 일이 왼쪽에 위치 */
.fc .fc-daygrid-day-top {
  flex-direction: row;
}

/* < 날짜 > 로 정렬 */
.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

/* 날짜 배경색은 한지색 */
.fc-daygrid-day-frame {
  background-color: #e4e0d5;
}
