:root {
  --fc-button-text-color: hsl(4, 76.5%, 23.3%);
  --fc-button-bg-color: hsl(39, 14%, 87%);
  --fc-button-border-color: hsl(39, 10%, 75%);
  --fc-button-hover-bg-color: hsl(39, 10%, 80%);
  --fc-button-active-bg-color: hsl(39, 10%, 80%);
}

.fc .fc-daygrid-day-top {
  flex-direction: row;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-daygrid-day-frame {
  background-color: hsl(39, 14%, 87%);
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}

.fc .fc-daygrid-day {
  padding: 4px;
}

.fc .fc-daygrid-day-frame {
  border-radius: 8px;
}

.fc .fc-daygrid-day-top {
  padding-top: 4px;
  padding-left: 8px;
}

@media (max-width: 768px) {
  .fc .fc-daygrid-day {
    padding: 0px;
  }

  .fc .fc-daygrid-day-frame {
    border-radius: 0px;
  }

  .fc-scroller-harness {
    border-radius: 8px;
  }
}
